/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2024  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */

 .auditing-container {

  .policies-section {
    margin-right: -1rem;

    .policies-content {
      padding: 0;

      > div {
        margin: 0 1rem 1rem 0;
      }

      .policy-tile {
        height: 100%;

        h5 {
          margin-bottom: .5rem;
        }

      }
      table tr td .policy-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        > span {
          margin: 0 .25rem;
          display: inline-block;
        }

        .policy-operator {
          opacity: .7;
        }

        .policy-item-color {
          width: 1.5rem;
          height: .75rem;
          margin: 0;
        }
      }
    }
  }

  .body {
    margin: 1rem;
    background-color: transparent;
    .content-tile-safetyscore .chart-tile-safetyscore {
      height: 100%;
    }
    .content-tile-adoption  .chart-tile-adoption {
      height: 100%;
    }
  }
  
}

.policy-edit-modal {
  .criteria-list {
    margin-top: 1rem;
  }

  .criteria-row {
    display: flex;
    align-items: flex-end;
    margin: .75rem 0 .25rem;

    .criteria-name {
      min-width: 5rem;
      margin-right: .75rem;
    }

    .criteria-value {
      width: 10rem;
      max-width: 10rem;
      margin-right: .75rem;
    }
  }
  .option-color {
    height: 1.25rem;
    width: 1.25rem;
  }
  .cds--dropdown--inline .cds--list-box__menu {
    min-inline-size: 5rem;
  }
  .cds--dropdown,
  .cds--number input[type=number] {
    background-color: transparent;
  }
}

.chart-tile {
  height: 100%;
  padding-top: 0.5rem;
}

.content-tile {
  height: 20rem;
}

// .cds--tooltip, .cds--tooltip-trigger__wrapper, .customButton {
//   width: 16px;
//   height: 16px;
// }

.cds--popover-content, .cds--popover-caret {
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 4px 3px rgba(27, 26, 26, 0.5);
}

.customButton {
  padding: 4px 0 0 0;
}


