/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2024  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
.page-container {
  margin-top: $spacing-09;
  width: calc(100% - $spacing-09);
  margin-left: $spacing-09;
  padding: 0 !important;

  .c4p--page-header {
    opacity: 1 !important;
    animation: none !important;

    --c4p--page-header--header-top: 0 !important;

    position: relative;
    z-index: 7998 !important;
    background-color: $layer-01;
    will-change: background-color;
    transition: background-color 240ms motion(standard, productive);

    &:before {
      display: none;
    }

    .c4p--page-header__title-row--no-breadcrumb-row {
      margin-top: $spacing-06;
    }

    .c4p--page-header__subtitle {
      margin-bottom: $spacing-03;

      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .cds--grid {
      padding-left: $spacing-07 !important;
      padding-right: $spacing-07 !important;
    }
  }

  .body {
    margin: 1rem;
    background-color: $layer-01;
  }
}
