/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2024  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/grid';
@use '@carbon/react/scss/motion' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/zone';
@use '@carbon/colors';
@use '@carbon/charts/scss/index.scss';

// global
@import './styles/animations';
@import './styles/mixins';
@import './styles/theme-extensions';

@import './components/common/FilterFlyout/filter-flyout';
@import './components/common/CustomDataTable/custom-data-table';

@import './components/Navigation/navigation';
@import './components/common/PageContainer/page-container';
@import './components/Metrics/metrics';
@import './components/TraceAnalysis/trace_analysis';

// Theming
:root {
    @include theme(themes.$g100);
    @include spread-map($dark-theme-extension);
  
    &[theme='light'] {
      @include theme(themes.$g10);
      @include spread-map($light-theme-extension);
  
      // overrides
      --cds-border-subtle: #e0e0e0;
    }
  
    &:not([logged-in=false]) {
      #teconsent {
        display: none !important;
        visibility: hidden !important;
      }
    }
  }
  
  html,
  body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
  }

  .cds--accordion__content {
    padding-inline-end: 0 !important;
    margin-left: 0 !important;
  }