/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
// Light theme

// green
$green-10: #F2FDF2; // Very light green
$green-20: #E6FBE6; // Light green
$green-30: #CCF7CC; // Lighter green
$green-40: #99ED99; // Moderate light green
$green-50: #66E266; // Moderate green
$green-60: #00CC00; // Green
$green-70: #00B300; // Dark green
$green-80: #008000; // Darker green
$green-90: #004C00; // Very dark green
$green-100: #001A00; // Almost black green

// Gray Shades
$gray-10: #B3B3B3;
$gray-20: #B3B3B3;
$gray-30: #808080; // Medium gray
$gray-40: #B3B3B3; // Lighter gray
$gray-60: #999999; // Darker gray
$gray-70: #4D4D4D; // Dark gray
$gray-80: #333333; // Darker gray
$gray-90: #1A1A1A; // Even darker gray
$gray-100: #CCCCCC; // Light gray

// Blue Shades
$blue-10: #B3D4FF;
$blue-20: #B3D4FF; // Light blue
$blue-30: #80BFFF; // Medium blue
$blue-40: #B3D4FF;
$blue-50: #0056b3; // Dark blue
$blue-60: #004080; // Even darker blue
$blue-70: #00264D; // Very dark blue
$blue-80: #001A33; // Extremely dark blue
$blue-90: #000D1A; // Almost black blue

// Cyan Shades
$cyan-10: #F2FFFF; // Very light cyan
$cyan-20: #E6FFFF; // Light cyan
$cyan-30: #CCFFFF; // Lighter cyan
$cyan-40: #99FFFF; // Moderate light cyan
$cyan-50: #66CCCC; // Moderate cyan
$cyan-60: #00B3B3; // Cyan
$cyan-70: #008080; // Dark cyan
$cyan-80: #004C4C; // Darker cyan
$cyan-90: #001A1A; // Very dark cyan
$cyan-100: #000D1A; // Almost black cyan

// Magenta Shades
$magenta-10: #FFF2FF; // Very light magenta
$magenta-20: #FFE6FF; // Light magenta
$magenta-30: #FFCCFF; // Lighter magenta
$magenta-40: #FF99FF; // Moderate light magenta
$magenta-50: #FF66FF; // Moderate magenta
$magenta-60: #CC00CC; // Magenta
$magenta-70: #990099; // Dark magenta
$magenta-80: #660066; // Darker magenta
$magenta-90: #330033; // Very dark magenta
$magenta-100: #1A001A; // Almost black magenta

// Orange Shades
$orange-60: #CC6600; // Dark orange

// Purple Shades
$purple-10: #FCF2FD; // Very light purple
$purple-20: #F9E6FC; // Light purple
$purple-30: #F3CCF9; // Lighter purple
$purple-40: #E699F3; // Moderate light purple
$purple-50: #D366ED; // Moderate purple
$purple-60: #9900CC; // Purple
$purple-70: #8000A3; // Dark purple
$purple-80: #660080; // Darker purple
$purple-90: #4C004C; // Very dark purple
$purple-100: #330033; // Almost black purple
$cool-gray-20: #F5F7F9;
$cool-gray-60: #637381;

// Red Shades
$red-10: #FFF2F2; // Very light red
$red-20: #FFE6E6; // Light red
$red-30: #FFCCCC; // Lighter red
$red-40: #FF9999; // Moderate light red
$red-50: #FF6666; // Moderate red
$red-60: #CC0000; // Red
$red-70: #B30000; // Dark red
$red-80: #800000; // Darker red
$red-90: #4C0000; // Very dark red
$red-100: #1A0000; // Almost black red

// Teal Shades
$teal-10: #F2FFFF; // Very light teal
$teal-20: #E6FFFF; // Light teal
$teal-30: #CCFFFF; // Lighter teal
$teal-40: #99FFFF; // Moderate light teal
$teal-50: #66CCCC; // Moderate teal
$teal-60: #00B3B3; // Teal
$teal-70: #008080; // Dark teal
$teal-80: #004C4C; // Darker teal
$teal-90: #001A1A; // Very dark teal
$teal-100: #000D1A; // Almost black teal

// orange
$orange-10: #FFF5E6; // Very light orange
$orange-20: #FFE6CC; // Light orange
$orange-30: #FFD9B3; // Lighter orange
$orange-40: #FFB366; // Moderate light orange
$orange-50: #FF9900; // Moderate orange
$orange-60: #CC6600; // Orange
$orange-70: #994C00; // Dark orange
$orange-80: #663300; // Darker orange
$orange-90: #331A00; // Very dark orange
$orange-100: #1A0D00; // Almost black orange

// Yellow Shades
$yellow-10: #FFFFF2; // Very light yellow
$yellow-20: #FFFFE6; // Light yellow
$yellow-30: #FFFFCC; // Lighter yellow
$yellow-40: #FFFF99; // Moderate light yellow
$yellow-50: #FFFF66; // Moderate yellow
$yellow-60: #CCCC00; // Yellow
$yellow-70: #999900; // Dark yellow
$yellow-80: #666600; // Darker yellow
$yellow-90: #333300; // Very dark yellow
$yellow-100: #1A1A00; // Almost black yellow

// Other Colors
$white: #FFFFFF; // White
$text-primary: #000000; // Black (text color)

$light-theme-extension: (
  // general
  --dot-color: transparentize($gray-30, .3),
  --overlay-color: transparentize($gray-100, .5),
  --custom-scrollbar-background: $gray-30,

  // colors
  --blue-primary: $blue-60,
  --cyan-primary: $cyan-50,
  --green-primary: $green-50,
  --magenta-primary: $magenta-60,
  --orange-primary: $orange-60,
  --purple-primary: $purple-60,
  --red-primary: $red-60,
  --teal-primary: $teal-50,
  --yellow-primary: $yellow-50,

  // home
  --home-header-background: $white,
  --home-callout-tile-background: linear-gradient(to bottom, $blue-60, $blue-70),
  --home-callout-tile-docs-hover: var(--cds-button-primary-hover),
  --home-callout-tile-docs-active: var(--cds-button-primary-active),
  --home-callout-tile-docs-border: $blue-60,

  // topology view
  --tv-header-background: $white,
  --tv-background: $white,
  --tv-gradient-start: rgba(0, 0, 0, 0),
  --tv-gradient-end: rgba(0, 0, 0, 0),
  --tv-border-color: $gray-40,
  --tv-border-disabled-color: #c1c7cd,
  --tv-minimap-mask: transparentize($gray-30, .7),
  --tv-zoom-buttons-background: rgb(238, 238, 238),
  --tv-parent-node-box-shadow: rgba(255, 255, 255, .16),

  --tv-action-button-background: $gray-20,
  --tv-action-button-hover: var(--cds-layer-hover-03),
  --tv-action-button-color: $text-primary,

  --tv-transparent-node-background: transparentize($white, .8),

  --tv-blue-parent-node-background: transparentize($blue-20, .7),
  --tv-blue-parent-node-label-background: transparentize($blue-20, .7),
  --tv-blue-parent-node-count: $blue-60,
  --tv-blue-node-background: $blue-20,
  --tv-blue-node-hover: $blue-30,
  --tv-blue-disabled-node-background: transparentize($blue-20, .8),
  --tv-blue-disabled-node-hover: transparentize($blue-30, .5),

  --tv-registered-node-background: transparentize(#343a3f, .9),
  --tv-registered-node-hover: transparentize(#343a3f, .75),
  --tv-registered-node-handle: #c1c7cd,

  --tv-purple-parent-node-background: transparentize($purple-20, .7),
  --tv-purple-parent-node-label-background: transparentize($purple-20, .7),
  --tv-purple-parent-node-count: $purple-60,
  --tv-purple-node-background: $purple-20,
  --tv-purple-node-hover: $purple-30,

  --tv-magenta-parent-node-background: transparentize($magenta-20, .7),
  --tv-magenta-parent-node-label-background: transparentize($magenta-20, .7),
  --tv-magenta-parent-node-count: $magenta-60,
  --tv-magenta-node-background: $magenta-20,
  --tv-magenta-node-hover: $magenta-30,

  --tv-teal-parent-node-background: transparentize($teal-20, .7),
  --tv-teal-parent-node-label-background: transparentize($teal-20, .7),
  --tv-teal-parent-node-count: $teal-60,
  --tv-teal-node-background: $teal-20,
  --tv-teal-node-hover: $teal-30,

  --tv-cyan-parent-node-background: transparentize($cyan-20, .7),
  --tv-cyan-parent-node-label-background: transparentize($cyan-20, .7),
  --tv-cyan-parent-node-count: $cyan-60,
  --tv-cyan-node-background: $cyan-20,
  --tv-cyan-node-hover: $cyan-30,

  // query workspace
  --qe-active-line: transparentize($gray-20, .5),
  --qe-active-line-gutter: $gray-20,
  --qe-autocomplete-text-layer: transparentize($gray-20, .5),
  --qe-autocomplete-highlight: $blue-50,
  --qe-background-01: $gray-10,
  --qe-background-02: $gray-10
);

// Dark theme
$dark-theme-extension: (
  // general
  --dot-color: transparentize($gray-80, .5),
  --overlay-color: transparentize($gray-100, .5),
  --custom-scrollbar-background: $gray-70,

  // colors
  --blue-primary: $blue-50,
  --cyan-primary: $cyan-40,
  --green-primary: $green-40,
  --magenta-primary: $magenta-40,
  --orange-primary: $orange-60,
  --purple-primary: $purple-40,
  --red-primary: $red-50,
  --teal-primary: $teal-40,
  --yellow-primary: $yellow-40,

  // home
  --home-header-background: $gray-100,
  --home-callout-tile-background: linear-gradient(to bottom, $blue-80, $blue-90),
  --home-callout-tile-docs-hover: $blue-80,
  --home-callout-tile-docs-active: $blue-70,
  --home-callout-tile-docs-border: $blue-80,

  // topology view
  --tv-header-background: $gray-100,
  --tv-background: $gray-100,
  --tv-gradient-start: transparentize($purple-70, .8),
  --tv-gradient-end: transparentize($blue-70, .8),
  --tv-border-color: $gray-40,
  --tv-border-disabled-color: #697077,
  --tv-minimap-mask: transparentize($gray-80, .56),
  --tv-zoom-buttons-background: $gray-90,
  --tv-parent-node-box-shadow: rgba(0, 0, 0, .16),

  --tv-action-button-background: $gray-90,
  --tv-action-button-hover: var(--cds-layer-hover-01),
  --tv-action-button-color: $text-primary,

  --tv-parent-node-background: transparentize($gray-90, .9),
  --tv-parent-node-count: $gray-30,

  --tv-transparent-node-background: transparentize($gray-60, .8),

  --tv-blue-parent-node-background: transparentize($blue-80, .8),
  --tv-blue-parent-node-count: $blue-30,
  --tv-blue-node-background: $blue-80,
  --tv-blue-node-hover: $blue-70,

  --tv-registered-node-background: transparentize($cool-gray-20, .9),
  --tv-registered-node-hover: transparentize($cool-gray-20, .75),
  --tv-registered-node-handle: $cool-gray-60,

  --tv-purple-parent-node-background: transparentize($purple-80, .8),
  --tv-purple-parent-node-count: $purple-30,
  --tv-purple-node-background: $purple-80,
  --tv-purple-node-hover: $purple-70,

  --tv-magenta-parent-node-background: transparentize($magenta-80, .8),
  --tv-magenta-parent-node-count: $magenta-30,
  --tv-magenta-node-background: transparentize($magenta-70, .2),
  --tv-magenta-node-hover: transparentize($magenta-60, .2),

  --tv-teal-parent-node-background: transparentize($teal-80, .8),
  --tv-teal-parent-node-count: $teal-30,
  --tv-teal-node-background: $teal-80,
  --tv-teal-node-hover: $teal-70,

  --tv-cyan-parent-node-background: transparentize($cyan-80, .8),
  --tv-cyan-parent-node-count: $cyan-30,
  --tv-cyan-node-background: $cyan-80,
  --tv-cyan-node-hover: $cyan-70,

  // query workspace
  --qe-active-line: transparentize($gray-70, .5),
  --qe-active-line-gutter: $gray-70,
  --qe-autocomplete-text-layer: transparentize($gray-80, .5),
  --qe-autocomplete-highlight: $blue-40,
  --qe-background-01: $gray-80,
  --qe-background-02: $gray-90
);

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}
