roja-metric-env/
applications/__pycache__/
applications/flask_server/__pycache__/
applications/kafka_roja/__pycache__/
applications/metrics/__pycache__/
applications/postgres/__pycache__/
applications/*.xlsx
.vscode
applications/metrics/jsons/
