Flask
graphsignal==0.15.1
numpy  
pandas
requests
requests-oauthlib==1.4.0                  
python-dotenv==1.0.1
psycopg2-binary
Flask-Cors
kafka-python
python-dateutil
langchain==0.1.12
langchain-openai==0.0.8
langchain-community==0.0.28
openai==1.14.0
