/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2024  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */

.metering-page {
  .body {
    margin: 1rem;
    background-color: transparent;
  }

}

.chart-tile {
  height: 100%;
  padding-top: 0.5rem;
}

.content-tile {
  height: 20rem;
}
