/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2024  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
 .home-container {
  .space-5 {
    margin-top: 3rem;
  }

  .page-content {
    padding: 0 !important;
  }
  .left-container {
    margin: 0 !important;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 0;
      background: url('./media/dark-theme-illustration.png') 0 0 no-repeat;
      background-size: 70%;
      background-position-x: right;
      filter: blur(3px);
    }
  }

  .chart-tile {
    padding: 1.25rem;
  }

  .page-header {
    max-height: 15rem;
    padding: $spacing-05 !important;
    overflow: hidden;
    position: relative;
    // border-bottom: .0625rem solid $border-subtle;

    .cds--css-grid-column:first-of-type {
      margin-right: $spacing-03;
    }

    .left {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: .625rem 0 $spacing-05;

      .title {
        padding-left: $spacing-05;
        margin-bottom: 5rem;
      }
    }

    .right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      z-index: 1;

      img {
        max-height: 21rem;
        padding: 0;
        margin-top: -1rem;
        margin-bottom: -1rem;
        height: calc(100% + 2rem);
        margin-right: -1rem;
        filter: blur(3px);
      }
    }
  }

  .body {
    position: relative;
    width: calc(100% - 1rem) !important;
    max-width: 100% !important;
    padding: 0 !important;
    background: none;
    margin-top: 0;

    .content-tile {
      margin-bottom: 1rem;
      max-height: 24rem;
    }
  }

  .metrics-panel {
    height: 300px;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: rgba(0,0,0,0.4);

    h3 {
      background-color: rgba(0,0,0,0.6);
      z-index: 1;
      padding: 2.5rem;
      box-shadow: 18px -13px 37px 15px rgba(0, 0, 0, 0.5);
      opacity: 0.8;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 0;
      background: url('./media/dark-theme-illustration.png') 0 0 no-repeat;
      background-size: 685px;
      background-position-x: 100%;
    }
  }
}