/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
 .infrastructure-components {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
  
    .infrastructure-components-content {
      height: 100%;
      position: relative;
  
      .types {
        height: calc(100% - 2.5rem);
        border-top: .0625rem solid $border-subtle;
        border-bottom: .0625rem solid $border-subtle;
        margin: $spacing-05 -1rem 0;
        width: calc(100% + 2rem);
        display: flex;
        flex-wrap: wrap;

        .graph-img {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-top: 1rem;
        }

        &.margin-1 {
            // margin: 1rem !important;
            padding: 1rem !important;
        }
  
        .button-tooltip {
          height: calc(50% - .03125rem) !important;
          width: 50%;
          max-width: 50% !important;
    
          &:nth-of-type(odd) {
            &:after {
              content: '';
              position: absolute;
              top: -.0625rem;
              right: -.125rem;
              background-color: $border-subtle;
              width: .0625rem;
              height: calc(100% + .125rem);
            }
          }
  
          &:nth-of-type(1),
          &:nth-of-type(2) {
            margin-bottom: .0625rem;
          }
  
          &:nth-of-type(3),
          &:nth-of-type(4) {
            &:before {
              content: '';
              position: absolute;
              top: -.125rem;
              left: -.0625rem;
              background-color: $border-subtle;
              width: calc(100% + .125rem);
              height: .0625rem;
            }
          }

          .cds--tooltip-trigger__wrapper {
            width: 100%;
            height: 100%;
          }
          
          .cds--popover-content {
            font-size: 12px;
          }
          
          .type {
            color: $text-primary;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            width: 100%;
            // max-width: 50% !important;
            padding: $spacing-05 $spacing-05 $spacing-07;
            position: relative;
    
            .indicator {
              height: .5rem;
              width: .5rem;
              border-radius: 100%;
              margin-right: $spacing-03;
              
              &.engines {
                background-color: var(--blue-primary);
              }
    
              &.catalogs {
                background-color: var(--purple-primary);
              }
    
              &.buckets {
                background-color: var(--magenta-primary);
              }
    
              &.databases {
                background-color: var(--cyan-primary);
              }
            }
    
            .title {
              width: 100%;
              position: relative;
              display: flex;
              align-items: center;
              color: $text-secondary;
    
              .status-indicator > .truncate {
                display: none;
              }
    
              > span {
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
    
              .cds--skeleton__text {
                &:first-of-type {
                  height: .5rem;
                  width: .5rem !important;
                  margin-right: $spacing-03;
                  margin-left: -.1875rem;
                }
    
                &:last-of-type {
                  height: 1rem;
                  width: 50% !important;
                }
              }
            }
    
            h2 {
              margin-left: -.1875rem;
              font-weight: 300;
              display: flex;
              align-items: center;
    
              .cds--skeleton__text {
                margin-top: .625rem;
                height: 1.625rem;
                width: 2.5rem !important;
              }
            }
    
            .label {
              @include type-style('label-01');
    
              display: flex;
              align-items: center;
    
              > .cds--skeleton__text {
                margin-top: $spacing-02;
                height: .75rem;
                
                &:last-of-type {
                  width: 3.25rem !important;
                }
              }
            }
          }
        }
      }
    }
  
    .bottom-link {
        justify-content: flex-start;
        margin: 0 -1rem -1rem;
        max-width: calc(100% + 2rem);
        position: relative;
        width: calc(100% + 2rem);
        margin-top: 0 !important;
    }
  }
  