/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2024  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */

.auditing-container {

  .policies-section {
    margin-right: -1rem;

    .policies-content {
      padding: 0;

      > div {
        margin: 0 1rem 1rem 0;
      }

      .policy-tile {
        height: 100%;

        h5 {
          margin-bottom: .5rem;
        }
      }
    }
  }
}