/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
 .header-filter {
  display: flex;
  justify-content: flex-end;

  .cds--list-box__wrapper, .cds--form-item {
    margin: 0 0 8px 8px;

    .cds--list-box, .cds--date-picker-container {
      width: 250px;
    }
  }
  .cds--form-item {
    flex-grow: 0;

    .cds--date-picker-input__wrapper > span,
    .cds--date-picker__input {
      width: 100%;
      font-family: inherit;
    }
  }
  .clear-all-button {
    &:hover {
      background: transparent;
    }
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

/* Hide the close icon in ComboBox */
.cds--list-box__selection {
  display: none !important;
}
