/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
 .header-filter {
  display: flex;
  justify-content: flex-end;

  .cds--list-box__wrapper, .cds--form-item {
    margin: 0 0 8px 8px;

    .cds--list-box, .cds--date-picker-container {
      width: 250px;
    }
  }
  .cds--form-item {
    flex-grow: 0;

    .cds--date-picker-input__wrapper > span,
    .cds--date-picker__input {
      width: 100%;
      font-family: inherit;
    }
  }
  .clear-all-button {
    &:hover {
      background: transparent;
    }
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

/* Hide the close icon in ComboBox */
.cds--list-box__selection {
  display: none !important;
}

.header-filter-wrapper {
  position: sticky;
  top: calc(0px + 47px);
  z-index: 1000;
  background-color: #161616; /* Adjust to match your theme */
  padding: 15px 20px; /* Add padding around the filter bar */
  width: calc(100% + 2rem);
  margin-left: -1rem;
  &.scroll {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.header-filter {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 10px; /* Add space between the filter elements */
}

.combo-box, .date-picker {
  flex: 1; /* Ensure even width distribution */
  min-width: 200px; /* Ensure a minimum width */
}

.clear-all-button {
  margin-left: 15px; /* Add space before the button */
}

.filter-title {
  font-size: 1.3rem;
  color: #fff; /* Adjust text color */
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}