/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
 .cpu-usage {
    &-chart {
      height: 100%;
      padding-top: 3rem;
      margin: 0 auto;
    }

    &-data {
      display: flex;
      width: calc(100% + 2rem);
      margin: -1rem -1rem;
      border-top: .0625rem solid $border-subtle;

      .label {
        border-right: .0625rem solid $border-subtle;
        padding: 1rem;
        display: flex;
        align-items: center;
      }

      .data {
        padding: 1rem;
        white-space: nowrap;
      }
    }
  }
  