/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
@mixin fadeInAnimation($duration, $delay) {
  opacity: 0;
  animation: fadeIn $duration motion(entrance, productive) $delay 1 forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@mixin fadeOutAnimation($duration, $delay) {
  opacity: 1;
  animation: fadeOut $duration motion(exit, productive) $delay 1 forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@mixin slideInAnimation($duration, $delay, $startX: 0, $startY: 0, $startZ: 0, $endX: 0, $endY: 0, $endZ: 0) {
  $name: slideIn-#{unique-id()};
  animation: #{$name} $duration motion(entrance, productive) $delay 1 forwards;
  @keyframes #{$name} {
    0% {
      transform: translate3d($startX, $startY, $startZ);
    }
    100% {
      transform: translate3d($endX, $endY, $endZ);
    }
  }
}

@mixin fadeAndSlideInAnimation($duration, $delay, $startX: 0, $startY: 0, $startZ: 0) {
  opacity: 0;

  $name: fadeAndSlideIn-#{unique-id()};
  animation: #{$name} $duration motion(entrance, productive) $delay 1 forwards;
  @keyframes #{$name} {
    0% {
      transform: translate3d($startX, $startY, $startZ);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

@mixin fadeAndGrowInAnimation($duration, $delay, $startX: 1, $startY: 1, $startZ: 1) {
  opacity: 0;

  $name: fadeAndGrowInIn-#{unique-id()};
  animation: #{$name} $duration motion(entrance, productive) $delay 1 forwards;
  @keyframes #{$name} {
    0% {
      transform: scale3d($startX, $startY, $startZ);
    }
    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
}

@mixin pulseAnimation($duration, $delay) {
  opacity: 1;

  $name: pulse-#{unique-id()};
  animation: #{$name} $duration motion(standard, expressive) $delay infinite both;
  @keyframes #{$name} {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin radiateAnimation($duration, $delay, $color) {
  $name: radiate-#{unique-id()};

  animation: #{$name} $duration motion(standard, productive) $delay infinite;
  @keyframes #{$name} {
    0% {
      box-shadow: 0 0 0 0 $color;
    }
    100% {
      box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0);
    }
  }
}

@mixin arrowRightHoverAnimation($duration: 1.5s, $delay: 240ms) {
  animation: arrowRightHover $duration motion(standard, expressive) $delay infinite forwards;
  @keyframes arrowRightHover {
    0% {
      transform: translateX(0);
    }
    12.5% {
      transform: translateX(-.5rem);
    }
    25% {
      transform: translateX(0);
    }
    37.5% {
      transform: translateX(-.25rem);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@mixin arrowLeftHoverAnimation($duration: 1.5s, $delay: 240ms) {
  animation: arrowLeftHover $duration motion(standard, expressive) $delay infinite forwards;
  @keyframes arrowLeftHover {
    0% {
      transform: translateX(0);
    }
    12.5% {
      transform: translateX(.5rem);
    }
    25% {
      transform: translateX(0);
    }
    37.5% {
      transform: translateX(.25rem);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
}
