/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */

// Adds dynamic top and bottom padding to match Grid
@mixin gridPadding() {
  padding: $spacing-08 $spacing-04;

  @include breakpoint-between(md, max) {
    padding: $spacing-07 $spacing-04;
  }

  @include breakpoint-between(sm, md) {
    padding: $spacing-05;
  }
}

// Adds monospace font stack
@mixin monospace() {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
               'Bitstream Vera Sans Mono', Courier, monospace;
}

// Restores normal bullet behavior
@mixin restoreUl() {
  list-style: initial !important;
  padding-left: 1rem;

  > li > ul {
    list-style: circle !important;
  }

  @-moz-document url-prefix() {
    margin-left: -.25rem;
  }
}
