/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
.trace-analysis-container {
  .body {
    margin: 1rem;
    background-color: transparent;
  }
}

.trace-analysis-section {
  margin-bottom: 1rem;
  background-color: $layer-01;

  .title {
    padding: 1rem 1rem 0;
    font-weight: bold;
  }

}