/* ******************************************************************************
 * IBM Confidential
 *
 * OCO Source Materials
 *
 *  Copyright IBM Corp. 2023  All Rights Reserved.
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with
 * the U.S. Copyright Office.
 ****************************************************************************** */
 .traces-container {
    .body {
      margin: 1rem;
      background-color: transparent;
    }
  
    .trace-sections {
      margin-bottom: 1rem;
      background-color: $layer-01;
    }
  
    .cds--accordion__wrapper {
      padding: 1rem;
    }
  }

  .timeline-chart-wrapper {
    padding-right: 1rem;
  }